/*
 * Copyright (c) 2025 LinkedSemi
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * eMMC partition layout - linked to mmc_disk1 (SD2)
 * SD card capacity: 15269888 sectors (7.28 GiB)
 *
 * Layout:
 *   Sector 0:          MBR (512 bytes)
 *   Sector 1-2047:    Reserved area (1 MB - 512 bytes)
 *   Sector 2048+:     User partition (FAT32)
 *   Sector N+:        Coredump partition (10 MB)
 */
#define TOTAL_SECTORS       15269888                      /* 7.28 GiB */
#define MBR_AREA_SECTORS    2048                          /* 1 MB: MBR + reserved */
#define COREDUMP_SECTORS    20480                         /* 10 MB */
#define USER_PART_SECTORS   (TOTAL_SECTORS - MBR_AREA_SECTORS - COREDUMP_SECTORS)

&mmc_disk1 {

    disk-name = "SD2";
    /* eMMC partition info - child node of mmc_disk1 (SD2) */
    emmc_parts: emmc-partitions {
        compatible = "linkedsemi,emmc-partitions";

        /* MBR/Management area size in sectors */
        mbr-area-size = <MBR_AREA_SECTORS>;

        /* User partition (FAT32) size in sectors */
        user-partition-size = <USER_PART_SECTORS>;

        /* Coredump partition size in sectors */
        coredump-partition-size = <COREDUMP_SECTORS>;
    };
};