&jtag1 {
    pinctrl-0 = <&mjtag1_tck_pn06 &mjtag1_tms_pn07 &mjtag1_tdi_pn09 &mjtag1_tdo_pn08>;
    pinctrl-1 = <&mjtag1_gpio_pn06 &mjtag1_gpio_pn07 &mjtag1_gpio_pn09>;
    tck-gpios = <&gpion 6 0>;
    tms-gpios = <&gpion 7 0>;
    tdi-gpios = <&gpion 9 0>;
    tdo-gpios = <&gpion 8 0>;
    pinctrl-names = "default", "priv_start";
    label = "jtag1";
    status = "okay";
};

&jtag3 {
    pinctrl-0 = <&mjtag3_tck_pf04 &mjtag3_tms_pf08 &mjtag3_tdi_pf06 &mjtag3_tdo_pf10>;
    pinctrl-1 = <&mjtag3_gpio_pf04 &mjtag3_gpio_pf08 &mjtag3_gpio_pf06>;
    tck-gpios = <&gpiof 4 0>;
    tms-gpios = <&gpiof 8 0>;
    tdi-gpios = <&gpiof 6 0>;
    tdo-gpios = <&gpiof 10 0>;
    pinctrl-names = "default", "priv_start";
    label = "jtag3";
    status = "okay";
};

&gpioa {
    label = "gpiochip0";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","BMC_READY_OUT_N","","","","";
};

&gpiob {
    label = "gpiochip1";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","kaka","","","","";
};

&gpioc {
    label = "gpiochip2";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpiod {
    label = "gpiochip3";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpioe {
    label = "gpiochip4";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpiof {
    label = "gpiochip5";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpiog {
    label = "gpiochip6";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpioh {
    label = "gpiochip7";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpioi {
    label = "gpiochip8";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpioj {
    label = "gpiochip9";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpiok {
    label = "gpiochip10";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpiom {
    label = "gpiochip11";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpion {
    label = "gpiochip12";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpioq {
    label = "gpiochip13";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

&gpiot {
    label = "gpiochip14";
    ngpios = <16>;
    status = "okay";
    gpio-line-names =
    /*A0-A7*/	"","","","","","","","",
    /*B0-B7*/	"","","","","","","","";
};

