/*
 * Copyright (c) 2018 Jan Van Winkel <jan.van_winkel@dxplore.eu>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c7 {
    status = "okay";
    bus-frequency = <100000>;
};

&smbus7 {
    status = "okay";
    
    alipsu: alipsu@40 {
        compatible = "ali,psu";
        reg = <0x40>;
        status = "okay";
        smbus-max-frequency = <100000>;
    };
};