
/ {
    aliases {
        testi2c1 = &i2c5;
        testi2c2 = &i2c6;
        testeeprom1 = &emul_eeprom5_1;
        testeeprom2 = &emul_eeprom6_1;
    };
};

&i2c5 {
    status = "okay";

    emul_eeprom5_1: eeprom@55 {
        compatible = "zephyr,i2c-target-eeprom";
        reg = <0x55>;
        size = <256>;
    };
};

&i2c6 {
    status = "okay";

    emul_eeprom6_1: eeprom@66 {
        compatible = "zephyr,i2c-target-eeprom";
        reg = <0x66>;
        size = <256>;
    };
};
